.list {
    width: 1200px;
    margin: 0 auto;
    ul {
        padding-top: 20px;
        overflow: hidden;
        li {
            width: 210px;
            height: 280px;
            padding: 6px;
            border: 1px solid rgba(192,192,192,0.1);
            float: left;
            margin: 10px 8px;
            p {
                color: black;
                font-size: 14px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            span {
                color: red;
            }
        }
        li:hover{
            background-color: pink;
        }
    }
}